html body {
  width: 100%;
  height: 100%;
}
/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ee0f0f;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.margem {
  margin: 10px;
}

.bck {
  background: rgba(163, 181, 204, 0.8);
  width: 400px;
}

.bck2 {
  background: rgba(163, 181, 204, 0.8);
  width: 400px;
}

.bck3 {
  background: rgba(163, 181, 204, 0.1);
}

.navegacao {
  background-color: rgba(245, 150, 7, 0.8);
  border-radius: 0px 0px 10px 10px;
}

.capa {
  background-image: url(./backg.jpg);
}

footer {
  background-color: #004067;
  padding: 10px 0px 0px 0px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  float: right;
  margin: 0px 10px 0px 10px;
}

.navlogin {
  width: 200px;
  border-radius: 20px 0px 0px 0px;
  background: rgba(163, 181, 204, 0.8);
}
.navlogin a {
  color: #004067;
}

.navcadastro {
  width: 200px;
  border-radius: 0px 20px 0px 0px;
}

.navcadastro a {
  color: #ff9600;
}

.container input {
  border: 2px solid #ff9900;
  border-radius: 10px;
  margin-top: 0px;
  width: 320px;
  margin-left: 25px;
}

.posicao {
  margin-left: 30px;
  margin-bottom: 0px;
  padding-top: 10px;
}
.teste {
  margin-left: 50px;
}

.teste2 {
  margin: 0px;
  width: 0px;
}

.bck2 input {
  width: auto;
}

.mt-80 {
  margin-top: 80px;
}
