<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>ZoomSchool</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app.component.css" />
  </head>

  <body  class="capa">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <nav class="navbar navbar-expand-lg navbar-light navegacao">
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#">Sobre</a>
            <a class="navbar-brand" href="#">Cursos</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a
                  class="fa fa-instagram text-dark nav-link"
                  href="#"
                  style="font-size: 36px"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="fa fa-facebook-square text-dark nav-link"
                  href="#"
                  style="font-size: 36px"
                ></a>
              </li>
              <li class="nav-item">
                <a
                  class="fa fa-whatsapp text-dark nav-link"
                  href="#"
                  style="font-size: 36px"
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-6 col-sm-12">

        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-6 col-sm-12">
           <ul class="nav navtabs justify-content-center">
                <li class="nav-item  navlogin">
                  <a href="" class="nav-link text-sm-center">Fazer Logon</a>
                </li>
                <li class="nav-item bg-dark navcadastro">
                  <a href="" class="nav-link text-sm-center">Criar uma conta</a>
                </li>
              </ul>
          <form action="action_page.php" method="post">


            <div class="container bck">

              <label for="inst"><b>Instituição</b></label>
              <input
                type="text"
                placeholder="Insira a sua instituição"
                name="inst"
                required
              />

              <label for="uname"><b>Usuário</b></label>
              <input
                type="text"
                placeholder="Insira o seu usuário"
                name="uname"
                required
              />

              <label for="psw"><b>Senha</b></label>
              <input
                type="password"
                placeholder="Insira sua senha"
                name="psw"
                required
              />

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember" />
                Lembre de mim
              </label>
            </div>

            <div class="container bck2">
              <button type="button" class="cancelbtn">Cancelar</button>
              <span class="psw">Esqueci minha <a href="#">senha</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="clearfix m-3">
        <div class="float-left">
          <span>&copy; Todos os direitos reservados por ZoomSchool</span>
        </div>
        <div class="float-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href=""> Centro de ajuda </a></li>
            <li class="list-inline-item"><a href=""> Políticas de uso </a></li>
            <li class="list-inline-item">
              <a href=""> Políticas de privacidade </a>
            </li>
          </ul>
        </div>
      </div>

      <div></div>
    </footer>

    <!-- Optional Java -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
